<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Criar Conta
    </ion-title>
    <ion-title>
      <img src="" alt="Logo urne">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
      <ion-toolbar color="primary">
        <ion-row>
          <ion-item color="primary">
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="number" ></ion-input>
        </ion-item>
        </ion-row>
        <ion-row>
          <ion-item color="primary">
            <ion-label position="floating">nome</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item color="primary">
            <ion-label position="floating">E-mail</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item color="primary">
            <ion-label position="floating">Senha</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item color="primary">
            <ion-label position="floating">confirme a senha</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-row>
        <ion-button size="small">Criar Conta</ion-button>

      </ion-toolbar>

</ion-content>
